body,
html {
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   background: #111111;
   -webkit-font-smoothing: antialiased !important;
   text-rendering: optimizeLegibility !important;
   -webkit-text-size-adjust: 100%;
   font-family: 'SegoePro Regular', sans-serif;
   font-size: 18px;
   line-height: 1.25;
   color: #333333;
}

div {
   padding: 0;
   margin: 0;
   z-index: 20
}

.wrapper {
   /* background: #f5f7fc; */
   padding: 0;
   margin: 0;
   position: relative;
   width: 100%;
   height: 100vh;
   transform: translateZ(0);
   -webkit-transform: translateZ(0)
}

.float {
   display: block;
   position: absolute;
   z-index: 20
}

/* Prevent flash before GSAP animation starts */
.guide,
.fill,
.morphing {
   visibility: hidden;
}

.outline {
   stroke-dasharray: 1000;
   stroke-dashoffset: 1000;
}

.navigation-bar {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #000000;
}

.right-nav {
   display: flex;
   display: none;
   visibility: hidden;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   padding-right: 2%;
}

@font-face {
   font-family: 'SegoeUI Semibold';
   src: url(../fonts/segoeui-semibold.woff) format('woff')
}

@font-face {
   font-family: 'SegoePro Semibold';
   src: url(../fonts/SegoePro-Semibold.woff) format('woff')
}

@font-face {
   font-family: 'SegoePro Regular';
   src: url(../fonts/SegoePro-Regular.woff) format('woff')
}

.container {
   display: flex;
   justify-content: center;
   height: auto;
   align-items: center;
}


#logo {
   padding-top: 2%;
   /* width: 50%; */
   height: auto;
   align-self: center;
}

.logo-kirk {
   overflow: hidden;
   width: auto;
   height: 80px;
   /* background-color: red; */
}

.insignia-outline {
   /* stroke: 1px solid #0054a6;
   fill: none;
   stroke: #29abe2;
   stroke-width: .2px;
   stroke-miterlimit: 10; */
}

#insignia-fill {
   filter: drop-shadow(0px 2px 1px #000000);
}

.intro-about {
   padding-top: 2%;
   width: 50%;
   height: auto;
   align-self: center;
}

svg {
   overflow: visible;
}

.centered-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

/* LOGO HERO SECTION */

/* .logo-container   {
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   width: auto;
   padding: 2% 8%;
   margin: 0;
} */

/* ABOUT ME SECTION */

.profileImage {
   flex: 1;
   /* align-self: flex-start; */
   width: 100%;
   height: auto;
   border-radius: 50%;
   border: 0.75em solid #00a1e4;
   margin-bottom: 20px;
   min-width: 250px;
   max-width: 300px;
}

.aboutBG {
   background-color: #cccccc;
}

.about-container,
.logo-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: start;
   flex-direction: row;
   padding: 2% 8%;
   gap: 5%;
   height: auto;
   width: auto;
   max-width: 1380px;
}

.aboutText {
   flex: 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   height: auto;
   width: auto;
   min-width: 300px;
   max-width: 900px;
}

.skill {
   height: 50px;
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   filter: grayscale(100%) brightness(0%) drop-shadow(0px 0px 0px #00000000);
   transition: .15s;
   cursor: pointer;
   overflow: visible;
}

.skill:hover {
   -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   -ms-filter: grayscale(0%);
   -o-filter: grayscale(0%);
   filter: grayscale(0%) brightness(100%) drop-shadow(0px 2px 1px #000000FF);
}

/* Scrubber */

.scrubber-container {
   width: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 50px;
   z-index: 1000;
   background-color: #ccc;
   position: fixed;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
}

.scrubber {
   width: 90%;
   border: 1px solid #ccc;
   /* height: 4px; */
   /* outline: none; */
   cursor: pointer;
}

.scrub-bottom {
   display: flex;
   flex-direction: row;
   width: 90%;
   height: 100%;
   justify-content: space-between;
   align-items: start;
}

.playPauseBtn,
.play_circle,
.pause_circle {
   /* width: 10px;
   height: 10px; */
   font-size: 24px;
   cursor: pointer;
}