/* -- BOILER PLATE -- */
body,
html {
	/* color: #ffffff; */
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #FFFFFF;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
	-webkit-text-size-adjust: 100%;
}

div {
	padding: 0;
	margin: 0;
	z-index: 20;
}

.wrapper {
	background: #f5f7fc;
	/* #f2f5fb;*/
	padding: 0;
	margin: 0;
	position: absolute;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.banner {
	width: 160px;
	height: 600px;
	overflow: hidden;
	position: relative;
}

.banner .border {
	position: absolute;
	z-index: 100;
	pointer-events: none;
	background: #B5B5B5;
}

.banner .border-top {
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
}

.banner .border-bottom {
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
}

.banner .border-left {
	height: 100%;
	width: 1px;
	top: 1px;
	left: 0;
}

.banner .border-right {
	height: 100%;
	width: 1px;
	top: 1px;
	right: 0;
}

.banner .stage {
	position: absolute;
	z-index: 20;
	width: 160px;
	height: 600px;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}

/* .banner .stage {
	opacity: 1;
	visibility: visible;
} */

.float {
	display: block;
	position: absolute;
	z-index: 20;
}


/* -- FONTS -- */
@font-face {
	font-family: 'SegoeUI Bold';
	src: url('../fonts/segoeui-bold.woff') format('woff');
}

@font-face {
	font-family: 'SegoeUI Semibold';
	src: url('../fonts/segoeui-semibold.woff') format('woff');
}

@font-face {
	font-family: 'SegoePro Condensed';
	src: url('../fonts/SegoePro-Cond.woff') format('woff');
}

@font-face {
	font-family: 'SegoePro Bold';
	src: url('../fonts/SegoePro-Bold.woff') format('woff');
}

@font-face {
	font-family: 'SegoePro Semibold';
	src: url('../fonts/SegoePro-Semibold.woff') format('woff');
}

@font-face {
	font-family: 'SegoePro Regular';
	src: url('../fonts/SegoePro-Regular.woff') format('woff');
}

/* -- SPRITESHEET -- */

.png-element {
	position: absolute;
	display: block;
	z-index: 20;
	background-image: url('../images/png-element.png');
	background-repeat: no-repeat;
	background-size: 1638px 1156px;
	overflow: hidden;
}

.app-icon {
	width: 44px;
	height: 44px;
	background-size: 531px 520px;
	background-position: -1px -1px;
}

.app-window {
	width: 128px;
	height: 104px;
	background-size: 531px 520px;
	background-position: -47px -1px;
}

.frame-3-ui-1 {
	width: 128px;
	height: 223px;
	background-size: 531px 520px;
	background-position: -177px -1px;
}

.frame-3-ui-2 {
	width: 111px;
	height: 190px;
	background-size: 531px 520px;
	background-position: -307px -1px;
}

.icon-copilot {
	width: 100px;
	height: 100px;
	background-size: 531px 520px;
	background-position: -1px -193px;
}

.icon-end-1 {
	width: 176px;
	height: 176px;
	background-size: 531px 520px;
	background-position: -103px -226px;
}

.icon-end-2 {
	width: 120px;
	height: 120px;
	background-size: 531px 520px;
	background-position: -307px -193px;
}

.icon-end-3 {
	width: 104px;
	height: 104px;
	background-size: 531px 520px;
	background-position: -281px -315px;
}

.icon-end-4 {
	width: 72px;
	height: 72px;
	background-size: 531px 520px;
	background-position: -1px -315px;
}

.icon-end-5 {
	width: 110px;
	height: 110px;
	background-size: 531px 520px;
	background-position: -420px -1px;
}

.icon-excel {
	width: 100px;
	height: 100px;
	background-size: 531px 520px;
	background-position: -429px -113px;
}

.icon-outlook {
	width: 100px;
	height: 100px;
	background-size: 531px 520px;
	background-position: -429px -215px;
}

.icon-powerpoint {
	width: 100px;
	height: 100px;
	background-size: 531px 520px;
	background-position: -387px -317px;
}

.icon-word {
	width: 100px;
	height: 100px;
	background-size: 531px 520px;
	background-position: -1px -419px;
}

.white-ellipse {
	width: 29px;
	height: 9px;
	background-size: 531px 520px;
	background-position: -1px -113px;
}



/* -- PROJECT STYLING & POSITIONING-- */
.banner .stage {
	/* font-family: SegoeUI Bold; */
	/* font-family: SegoeUI Semibold; */
	/* font-family: SegoePro Condensed; */
	/* font-family: SegoePro Bold; */
	font-family: SegoePro Semibold;
}

.M365logo {
	top: 16px;
	left: 16px;
}

.container {
	width: 160px;
	height: 600px;
}

.icons-container {
	width: 160px;
	height: 600px;
	/* filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.25)); */
	transform: translateY(100px);
	overflow: visible;
}

.icon-intro {
	border-radius: 50px;
	filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.25));
}

.white-ellipse {
	width: 31px;
	height: 11px;
	top: 224px;
	left: 65px;
	/* background-color: red; */
}

.pill1 {
	top: -76px;
	left: 170px;
}

.pill2 {
	top: 522px;
	left: -113px;
}

.app-window {
	top: 148px;
	left: 16px;
}

.box1 {
	top: 0px;
	left: 0px;
}

.text {
	width: 134px;
	left: 16px;
	font-size: 15px;
	line-height: 18px;
	color: #091f2c;
	font-family: SegoePro Regular;
}

.text1 {
	top: 60px;
	left: 16px;
}

.text2 {
	top: 180px;
	left: 36px;
	width: 190px;
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: -0.19px;
	/* background-color: red; */
}

.arrow-icon {
	top: 224px;
	left: 118px;
}

.frame-3-ui-1 {
	top: 148px;
	left: 16px;
	filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.1));
}

.frame-3-ui-2 {
	top: 173px;
	left: 24px;
}

.app-icon {
	top: 122px;
	left: 6px;
}


.text3 {
	top: 193px;
	left: 36px;
	width: 87px;
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.1px;
	font-family: SegoePro Semibold;
}

.text4 {
	top: 211px;
	left: 36px;
	width: 87px;
	height: 154px;
	text-align: left;
	font-size: 7px;
	line-height: 9px;
	letter-spacing: 0.1px;
	/* font-family: SegoePro Regular; */
}

.textGradientWhite {
	top: 269px;
	left: 27px;
	width: 106px;
	height: 100px;
	background: transparent linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
}

.text5 {
	top: 60px;
	left: 16px;
	width: 129px;
	/* height: 50px; */
	text-align: left;
	font-size: 15px;
	line-height: 18px;
}

.back-ui {
	top: 148px;
	left: 16px;
	width: 128px;
	height: 222.5px;
	background-color: #FFFFFF;
	border-radius: 10px;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.bar2 {
	top: 209px;
	left: 48px;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.icon-end {
	filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.18));
}

.icon-end-1 {
	top: 228px;
	left: 41px;
}

.icon-end-2 {
	top: 331px;
	left: -12px;
}

.icon-end-3 {
	top: 128px;
	left: 59px;
}

.icon-end-4 {
	top: 228px;
	left: 23px;
}

.icon-end-5 {
	top: 410px;
	left: 59px;
}


.blueText {
	color: #0a3fe2;
}

.endframe-text .red-text {
	color: #ff5c39;
}



/* -- CTA -- */
.cta-button {
    bottom: 0px;
    left: 0px;
    width: 160px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    /* align-self: center; */
    background-color: #0F1F2B;
    z-index: 20;
    text-align: center;
    color: #FFFFFF;
    font-family: SegoeUI Semibold;
    font-size: 11px;
    line-height: 0px;
    letter-spacing: 0px;
    padding-top: 5px;
    transition-duration: .25s;
}

.cta-button:hover {
	background-color: #f5f7fc;
	color: #0F1F2B;

	.cta-arrow-2 {
		fill: #0F1F2B;
		transition-duration: .25s;
	}
}

.cta-arrow-2 {
	fill: #FFFFFF;
	transition-duration: .25s;
}

.cta-arrow {
	padding-bottom: 1px;
	padding-left: 1px;
}

.cta-subtext {
	line-height: 13px;
}

/* -- REPLAY -- */
.replay-button {
	width: 12px;
	height: 12px;
	right: 4px;
	top: 4px;
	z-index: 31 !important;
	cursor: pointer;
}

.replay-icon {
	width: 11px;
	height: 11px;
}

.ref {
	top: 0px;
	left: 0px;
	width: 160px;
	height: 600px;
	background-size: 160px 600px;
	background-size: 160px 600px;
	opacity: 0.5;
	pointer-events: none;
}