/* -- BOILER PLATE -- */
body,
html {
	color: #ffffff;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #ffffff;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
	-webkit-text-size-adjust: 100%;
}

div {
	padding: 0;
	margin: 0;
	z-index: 20;
}

.wrapper {
	/* background: #00ad5b; */
	padding: 0;
	margin: 0;
	position: absolute;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.banner {
	width: 970px;
	height: 90px;
	overflow: hidden;
	position: relative;
}

.banner .border {
	position: absolute;
	z-index: 100;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.7);
}

.banner .border-top {
	width: 100%;
	height: 1px;
	top: 0;
	left: 0;
}

.banner .border-bottom {
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
}

.banner .border-left {
	height: 100%;
	width: 1px;
	top: 1px;
	left: 0;
}

.banner .border-right {
	height: 100%;
	width: 1px;
	top: 1px;
	right: 0;
}

.banner .stage {
	position: absolute;
	z-index: 20;
	width: 970px;
	height: 415px;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}

.float {
	display: block;
	position: absolute;
	z-index: 20;
}

.collapsed {
	width: 970px;
	height: 90px;
}

.expanded {
	width: 970px;
	height: 415px;
}


/* -- FONTS -- */


/* -- SPRITESHEET -- */

.jpg-element {
	position: absolute;
	display: block;
	z-index: 20;
	background-image: url('../images/jpg-element.jpg');
	background-repeat: no-repeat;
	background-size: 970px 415px;
	overflow: hidden;
}

.background {
	width: 970px;
	height: 415px;
	background-position: -1px -1px;
}

.background1 {
	width: 970px;
	height: 90px;
	overflow: hidden;
	/* background-color: #00ad5b; */
}

.background2 {
	width: 970px;
	height: 415px;
	/* background-color: #00ad5b; */
}

.grid-element {
	position: absolute;
	display: block;
	z-index: 20;
	background-image: url('../images/grid.png');
	background-size: 19px 19px;
}


.png-element {
	position: absolute;
	display: block;
	z-index: 20;
	background-image: url('../images/png-element.png');
	background-repeat: no-repeat;
	background-size: 618px 1657px;
	overflow: hidden;
}

.btn-close {
	width: 72px;
	height: 18px;
	background-position: -1px -1px;
}

.btn-close-over {
	width: 72px;
	height: 18px;
	background-position: -1px -21px;
}

.btn-expand {
	width: 78px;
	height: 16px;
	background-position: -1px -41px;
}

.byline-graphic {
	width: 116px;
	height: 3px;
	background-position: -1px -59px;
}

.byline-text {
	width: 119px;
	height: 16px;
	background-position: -1px -64px;
}

.cta {
	width: 112px;
	height: 17px;
	background-position: -1px -82px;
}

.item-1 {
	width: 174px;
	height: 170px;
	background-position: -1px -101px;
}

.item-2 {
	width: 174px;
	height: 170px;
	background-position: -1px -273px;
}

.item-3 {
	width: 174px;
	height: 170px;
	background-position: -1px -445px;
}

.item-4 {
	width: 174px;
	height: 170px;
	background-position: -1px -617px;
}

.item-5 {
	width: 174px;
	height: 170px;
	background-position: -1px -789px;
}

.item-6 {
	width: 174px;
	height: 170px;
	background-position: -1px -961px;
}

.item-7 {
	width: 174px;
	height: 170px;
	background-position: -1px -1133px;
}

.item-bess {
	width: 140px;
	height: 105px;
	background-position: -1px -1305px;
}

.label-1 {
	width: 90px;
	height: 12px;
	background-position: -1px -1412px;
}

.label-2 {
	width: 113px;
	height: 12px;
	background-position: -1px -1426px;
}

.label-3 {
	width: 88px;
	height: 12px;
	background-position: -1px -1440px;
}

.label-4 {
	width: 69px;
	height: 12px;
	background-position: -1px -1454px;
}

.label-5 {
	width: 78px;
	height: 12px;
	background-position: -1px -1468px;
}

.label-6 {
	width: 69px;
	height: 12px;
	background-position: -1px -1482px;
}

.label-7 {
	width: 104px;
	height: 12px;
	background-position: -1px -1496px;
}

.logo {
	width: 85px;
	height: 62px;
	background-position: -1px -1510px;
}

.text1 {
	width: 458px;
	height: 37px;
	background-position: -1px -1574px;
}

.text2 {
	width: 377px;
	height: 23px;
	background-position: -1px -1613px;
}

.text3 {
	width: 616px;
	height: 18px;
	background-position: -1px -1638px;
}

/* -- SPRITESHEET END -- */








/* -- PROJECT STYLING & POSITIONING-- */
.banner .stage {}

.cta {
	top: 11px;
	left: 13px;
}

.bess1 {
	top: 4px;
	left: 600px;
}

.bess2 {
	top: 12px;
	left: 665px;
}

.byline-text {
	top: 16px;
	right: 16px;
}

.byline-graphic {
	top: 38px;
	right: 16px;
}

.btn-close,
.btn-close-over {
	top: 3px;
	left: 16px;
	pointer-events: none;
}

.close-button {
	width: 90px;
	height: 24px;
	right: 15px;
	top: 62px;
	z-index: 50;
	/* background-color: #ffde00cc; */
}

.btn-expand {
	top: 8px;
	left: 10px;
}

.expand-button {
	width: 100px;
	height: 30px;
	right: 18px;
	bottom: 0px;
	background-color: #ffde00;
	z-index: 50;
}

.expand-button:hover {
	background-color: #FFFFFF;
	transition: .25s ease-in-out;
}

.all-items-container {
	top: 0px;
	left: -60px;
	width: 970px;
	height: 415px;
	/* overflow: hidden; */
	position: relative;
}

.items-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.item-container {
	width: 190px;
	height: 196px;
	display: flex;
	flex-wrap: wrap;
	align-items: end;
	justify-content: center;
	/* background-color: #00ffffcc; */
	flex-shrink: 0;
	margin-right: -5px;
	position: relative;
}

.selected {
	/* -webkit-filter: drop-shadow(0px 0px 3px #ffea00) drop-shadow(0px 0px 4px #ffea00) drop-shadow(0px 0px 8px #ffea00);
	filter: drop-shadow(0px 0px 3px #ffea00) drop-shadow(0px 0px 4px #ffea00) drop-shadow(0px 0px 8px #ffea00); */
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.label-1,
.label-2,
.label-3,
.label-4,
.label-5,
.label-6,
.label-7 {
	display: inline !important;
	position: relative;
	transition: 1s;
}

.label-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffde00;
	border-radius: 100px;
	padding: 7px 12px;
}

.grid1 {
	background-repeat: repeat;
	width: 970px;
	height: 90px;
}

.grid2 {
	background-repeat: repeat;
	width: 970px;
	height: 415px;
}

.logo {
	top: 13px;
	left: 16px;
}

.text1 {
	top: 27px;
	left: 125px;
}

.text2 {
	top: 345px;
	left: 22px;
}

.text3 {
	top: 377px;
	left: 23px;
}

/* -- CTA -- */
.cta-button {
	bottom: 0;
	right: 17px;
	width: 137px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-self: center;
	gap: 7px;
	background-color: #ffde00;
	z-index: 50;
	transition: .25s ease-in-out;
}

.cta-button:hover {
	background-color: #FFFFFF;
}

.cta-text {
	color: #ffffff;
	padding: 7px 0;
}

.cta-arrow {
	padding-top: 3px;
	width: 4px;
	height: 6px;
}


/* -- REPLAY -- */
.replay-button {
	width: 12px;
	height: 12px;
	right: 4px;
	top: 4px;
	z-index: 31 !important;
	cursor: pointer;
}

.replay-icon {
	width: 11px;
	height: 11px;
}

.ref {
	top: 0px;
	left: 0px;
	width: 970px;
	height: 415px;
	background-size: 970px 415px;
	opacity: .5;
	pointer-events: none;
}