/* -- BOILER PLATE -- START */
body,
html {
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #808080;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-size-adjust: 100%;
}

div {
  padding: 0;
  margin: 0;
  z-index: 20;
}

.wrapper {
  background: #000000;
  padding: 0;
  margin: 0;
  position: absolute;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.banner {
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.banner .border {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  background: #B5B5B5;
}

.banner .border-top {
  width: 100%;  
  height: 1px;
  top: 0;
  left: 0;
}

.banner .border-bottom {
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.banner .border-left {
  height: 100%;
  width: 1px;
  top: 1px;
  left: 0;
}

.banner .border-right {
  height: 100%;
  width: 1px;
  top: 1px;
  right: 0;
}

.banner .stage {
  position: absolute;
  z-index: 20;
  width: 300px;
  height: 250px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.float {
  display: block;
  position: absolute;
  z-index: 20;
}
/* -- BOILER PLATE -- END */


.carouselVid {
  /* width: 130px;
  height: 73px; */
  width: 182px;
  height: 102px;

  border-radius: 10px;
  /* border: 1px solid #FFFFFF;  */
  border: 1px solid #682014; 
  background-color:  #682014; 
  opacity: 1;
}
.vid6, .vid5, .vid4 {
}




/* -- FONTS -- */
@font-face {
  font-family: 'SegoeUI Regular';
  src: url('../fonts/SegoeUI-Regular.woff') format('woff');
} 
@font-face {
  font-family: 'Segoe UI Black';
  src: url('../fonts/SegoeUI-Black.woff') format('woff');
} 
@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../fonts/SegoeUI-Bold.woff') format('woff');
} 

@font-face {
  font-family: 'Segoe Pro Condensed';
  src: url('../fonts/SegoePro-Cond.woff') format('woff');
} 




/* Buttons */
.navButton {
  width: 45px;
  height: 250px;
  /* background-color: red; */
  opacity: 0;
}

.navLeft {
  top: 0px;
  left: 0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.3+0,0+100 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.navRight {
  top: 0px;
  right: 0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+100 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



/* -- SPRITESHEET -- */
/* SPRITE SHEET - JPG */
.jpg-element {
  position: absolute;
  display: block;
  background-image: url('../images/jpg-element.jpg');
  background-repeat: no-repeat;
  background-size: 300px 250px;
  overflow: hidden;
  z-index: 20;
}
.background {
  width: 300px;
  height: 250px;
  background-position: 0px 0px;
}

.png-element {
  position: absolute;
  display: block;
  z-index: 20;
  background-image: url('../images/png-element.png');
  background-repeat: no-repeat;
  background-size: 218px 118px; /*436px 236px;*/
  overflow: hidden;
}

.doomLogo {
  width: 218px; /*432px;*/
  height: 123px; /*242px;*/
  background-position: -1px -1px; /*-2px -2px;*/
}



/* -- PROJECT STYLING & POSITIONING-- */
.banner .stage {
  font-family: "SegoeUI Regular", Arial, Helvetica, sans-serif; 
}

.doomLogo {
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.introGradient {
  width: 300px;
  height: 250px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,37150e+75 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1%, rgba(55, 21, 14, 1) 75%);
}

.logo {
  position: absolute;
  left: 17px;
  top: 17px;
  height: 32px;
  pointer-events: none;
  z-index: 1001;
}

.text {
  font-family: "Segoe UI Black", Arial, Helvetica, sans-serif;
  width: 300px;
  /* top: 50%; */
  text-align: center;
  pointer-events: none;
  color: #FFFFFF;
  font-size: 18.25px;
  letter-spacing: -0.5px;
  line-height: 16.25px;
}


.text1 {
  font-family: "Segoe UI Bold";
  font-size: 15px;
  top: 177px;
  left: 50%;
  transform: translate(-50%, -50%);
}


.text2 {
  font-family: 'SegoeUI Regular', Arial, Helvetica, sans-serif;
  font-size: 8.5px;
  letter-spacing: 0px;
  top: 211px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text3 {
  font-family: 'Segoe Pro Condensed', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
  top: 232px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.text3esrb {
  font-family: 'Segoe Pro Condensed', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
  top: 236px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.text4 {
  top: 141px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.text5 {
  top: 158px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
}

.green_shape {
  width: 17px;
  height: 6px;
  top: 167px;
  left: 141px;
  pointer-events: none;
  z-index: 21;
}


/* -- CTA -- */
.cta-button {
  top: 195px;
  left: 84px;
  width: 131px;
  height: 21px;
  /* display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 9px; */
  background-color: #9bf00b;
  /* opacity: .5; */
  overflow: hidden;
  z-index: 100;
  /* pointer-events: none; */
}

.cta-text {
  top: 7px;
  left: 15px;
  font-family: 'Segoe UI Black';
  font-size: 10px;
  line-height: 7px;
  pointer-events: none;
  color: #054b16;
}

.ctaArrowContainer {
  top: 6.5px;
  left: 106px;
  width: 20px;
  height: 8px;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  overflow: hidden !important;
  pointer-events: none;
  /* background-color: red; */
}

 
.ctaArrow {
  width: 5px;
  position: absolute;
  pointer-events: none;
  fill: #054b16;
}


.ctaBackgroundArrow{
  top: 0px;
  left: -42px;
  width: 200px;
  height: 21px;
  pointer-events: none;
}

/* -- REPLAY -- */
.replay-button {
  width: 12px;
  height: 12px;
  right: 4px;
  top: 4px;
  z-index: 31 !important;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.replay-icon {
  width: 11px;
  height: 11px;
}

.ref {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  background-size: 300px 250px;
  pointer-events: none;
  opacity: 0.75;
}
